doctype html
html
  head
    meta(charset='UTF-8')
    title NFM
    link(rel='icon', type='image/x-icon', href='/favicon.ico')
  body
    div#root
    script(type='text/javascript', src=vendor.js)
    script(type='text/javascript', src=app.js)